# Copy this file to terraform.tfvars and fill in your values
# NEVER commit terraform.tfvars to GitHub (it contains secrets)

aws_region             = "us-east-1"
project_name           = "registration-app"
environment            = "production"

# EC2
ec2_instance_type      = "t3.small"
key_pair_name          = "jenkins"

# RDS
rds_instance_class     = "db.t3.micro"
db_name                = "appdb"
db_username            = "dbadmin"
db_password            = "CHANGE-THIS-STRONG-PASSWORD"

# S3
terraform_state_bucket = "youngyz-registration-app-YOUR-ACCOUNT-ID"

# GitHub - generate at: GitHub → Settings → Developer settings → Personal access tokens
github_token = "YOUR-GITHUB-TOKEN-HERE"